.mainAward {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F4F4F4;
  padding: clamp(40px, 8vh, 100px) 16px;
  min-height: 50vh;
  margin: 100px 0;
}

.mainAward > img {
  width: clamp(40px, 4vw, 200px);
  height: auto;
}

.mainAward > p {
  font-size: clamp(20px, 5vw, 64px);
  color: #4F4F4F;
  margin-top: 33px;
  max-width: 1100px;
  padding: 0 16px;
}

