.faq {
  padding: clamp(40px, 6vw, 100px) clamp(20px, 6vw, 120px);
  text-align: center;
  background: #fff;
}

.titles {
  margin-bottom: 60px;
}

.title {
  color: var(--color-primary);
  text-align: center;
  font-family: 'Raleway';
  font-size: clamp(18px, 2vw, 28px);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 4px;
  margin-bottom: 12px;
}

.subTitle {
  font-size: clamp(20px, 4vw, 64px);
  font-weight: 400;
  color: #4F4F4F;
  margin-bottom: 40px;
}

.faqList {
  max-width: 1000px;
  margin: 0 auto 80px auto;
  text-align: left;

}

.faqItem {
  border-bottom: 1px solid #e5e5e5;
  padding: 16px 0;
}

.question {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: clamp(14px, 2vw, 28px);
  color: #333;
  font-weight: 300;
  width: 100%;
}

.plus {
  color: #b58b61;
  font-size: 32px;
  margin-right: 12px;
}

.answer {
  margin-top: 10px;
  font-size: clamp(14px, 2vw, 28px);
  color: #555;
  line-height: 1.6;
  padding-left: 36px;
}

@media (max-width: 768px) {
  .faqList {
    margin-bottom: 40px;
  }
}
